<main class="container blockquote text-center ">

    <div class="jumbotron shadow-sm">
  
      <h1 class="display-4 page-title">About me</h1>
  
      <img src="/Assets/images/self.jpg" class="rounded shadow-sm" style="max-width: 15%;">
  
      <p class="lead">Chen Chen</p>
  
      <hr class="my-4">
      <!--short paragraph-->
      <p>
        My name is Chen Chen and I'm from China. I'm studying Game Programming at Centennial College.
        I know some basic programming languages and related software applications. I know some basic programming 
        languages and related software applications, such as C#, Java, Java script, HTML, CSS, SQL, Linux system, 
        Python, Unity, Blender.
      </p>
  
      <!--cv pdf-->
  
      <a class="btn btn-outline-secondary" href="/Assets/document/Resume.pdf" role="button">My Resume</a>
  
      <hr class="my-4">
  
 
       
      </div>
    </div>
 
</main>