<!--home main content-->

<main class="container blockquote text-center ">   

    <div class="jumbotron shadow-sm">
  
      <h1 class="display-4 page-title"><%= title %></h1>
  
      <p class="lead">Welcome</p>
  
      <hr class="my-4">
  
      <!--nav menu-->
            
        <div class="row">
        
          <div class="col-4 mx-auto ">
        
            <div class="list-group shadow-sm" id="list-tab" role="tablist">

              <li class="list-group-item list-group-item-dark">Navigation Bar</li>
        
              <a class="list-group-item list-group-item-action list-group-item-secondary"  href="/about-me" role="tab" >Personal Information</a>
        
              <a class="list-group-item list-group-item-action list-group-item-secondary"   href="/project" role="tab" >Projects Information</a>
        
              <a class="list-group-item list-group-item-action list-group-item-secondary" href="/services" role="tab" >Services Information</a>
        
              <a class="list-group-item list-group-item-action list-group-item-secondary"  href="/contact-me" role="tab" >Contact Information</a>
       
            </div>
     
          </div>
     
        </div>
  
        <hr class="my-4">
  
        <!-- mission statement-->
        <h2 class="text-left display-6 font-weight-light">Mission statement:</h2>
        <div>
          <p>
            Always live with integrity, positivity and strive to use everyday and every experience as an opportunity for improvement and growth.
          </p>
        </div>
    
      </div>
    
    </main>