<!--project main content-->
<main class="container blockquote">
    <div class="container">
        <div class="jumbotron shadow-sm">

            <h1 class="display-4 text-center page-title">Project </h1>
            <br />
            <div class="card-deck">

                <!--comp 213 web -->
                <div class="card text-center">
                    <div class="card-header">
                    Web Design
                    </div>

                    <img src="/Assets/images/web.jpg" class="card-img-top" alt="COMP 213 basic Website">

                    <div class="card-body">
                        <h5 class="card-title">COMP213 Semester Practice Project</h5>
                      <p class="card-text">This is a basic web design project. It includes the basics of html and css.</p>
                      <a class="btn btn-outline-info" href="http://studentweb.cencol.ca/cchen159/index.html"
                      role="button">More Information</a>
                    </div>
                </div>

                <!-- Forgetful Santa Claus “Saving Christmas” -->
                <div class="card text-center">
                    <div class="card-header">
                    Game Design
                    </div>

                    <img src="/Assets/images/santa.jpg" class="card-img-top" alt="Forgetful Santa Claus “Saving Christmas”">

                    <div class="card-body">
                        <h5 class="card-title">Forgetful Santa Claus “Saving Christmas”</h5>
                      <p class="card-text">This is a side scroller type game where you need to dodge traps and enemy 
                          attacks in order to win or move on to the next level.</p>
                      <a class="btn btn-outline-info" href="/Assets/document/Game_Design_Document.pdf"
                      role="button">More Information</a>
                    </div>
                </div>
                
                <!-- Magic Mishap-->
                <div class="card text-center">
                    <div class="card-header">
                      Game Design
                    </div>

                    <img src="/Assets/images/book.jpg" class="card-img-top" alt="Magic Mishap">

                    <div class="card-body">
                      <h5 class="card-title">Magic Mishap</h5>
                      <p class="card-text">This is also a side scroller type of game, where you need to collect 
                          specific items and defeat enemies in order to win or move to the next level.</p>
                      <a class="btn btn-outline-info" href="/Assets/document/Game Design Document v1.pdf"
                      role="button">More Information</a>
                    </div>

                </div>
        </div>
    </div>

       
</main>