<!--service main content-->
<main class="container blockquote">
    <div class="container">
        <div class="jumbotron shadow-sm">

            <h1 class="display-4 text-center page-title">Services </h1>
            <br />
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">

                        <!-- web programming-->
                        <div class="card mb-3 shadow-sm" style="max-width: 500px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="/Assets/images/web.jpg" class="card-img service-card"
                                        alt="web_programming">
                                </div>
                                <div class="col-md-8 text-center">
                                    <div class="card-body">
                                        <h5 class="card-title">Basic Web Programming</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Basic Programming -->
                        <div class="card mb-3 shadow-sm" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="/Assets/images/programming.jpg" class="card-img service-card"
                                        alt="basic programming">
                                </div>
                                <div class="col-md-8 text-center">
                                    <div class="card-body">
                                        <h5 class="card-title">Basic Programming</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Game Programming -->
                        <div class="card mb-3 shadow-sm" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="/Assets/images/game.jpg" class="card-img service-card"
                                        alt="game programming">
                                </div>
                                <div class="col-md-8 text-center">
                                    <div class="card-body">
                                        <h5 class="card-title">Game Programming</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6">
                        
                        <!-- Photoshop tips -->
                        <div class="card mb-3 shadow-sm" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="/Assets/images/ps.png" class="card-img service-card"
                                        alt="Photoshop tips">
                                </div>
                                <div class="col-md-8 text-center">
                                    <div class="card-body">
                                        <h5 class="card-title">Photoshop Tips</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 3D Modeling -->
                        <div class="card mb-3 shadow-sm" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="/Assets/images/3D.jpg" class="card-img service-card"
                                        alt="3d modelling">
                                </div>
                                <div class="col-md-8 text-center">
                                    <div class="card-body">
                                        <h5 class="card-title">3D Modeling</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Game Design -->
                        <div class="card mb-3 shadow-sm" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="/Assets/images/game-design.jpg" class="card-img service-card"
                                        alt="game design">
                                </div>
                                <div class="col-md-8 text-center">
                                    <div class="card-body">
                                        <h5 class="card-title">Game Design</h5>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</main>